<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDisplayName</key>
	<string>Oysters</string>
	<key>CFBundleExecutable</key>
	<string>Oysters</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>render-4ezx.onrender.com</key>
			<string></string>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app can provide more precise results if you share your location when the app is open</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app requires access to photos to identify oyster types</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
